<!DOCTYPE html>
<html>
<head>
    <title>Student Feedback App on AI Session</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Student Feedback Form on AI Session</h2>

    <form action="/submit" method="POST">
        <input type="text" name="name" placeholder="Enter your name">

        <textarea name="feedback" placeholder="Write your feedback here..."></textarea>

        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
